.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  min-height: 100vh;
}
.optionsContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: clamp(2.2rem, 3vw, 3rem);
}
.options {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  gap: 20px;
  align-items: center;
}
.option {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.doorInput {
  border: none;
  outline: none;
  background-color: #fff;
  height: 40px;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 1.2rem;
}
.warning {
  font-size: 0.9rem;
  color: yellow;
  margin-bottom: 10px;
}
.playButton, .disabledButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  background-color: #0058a4;
  color: #fff;
  height: 40px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s all ease;
}
.playButton:hover {
  background-color: #003b6f;
}
.disabledButton {
  cursor: not-allowed;
  opacity: 0.6;
}